{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="card mt-5">
        <div class="card-header text-bg-dark d-flex justify-content-between">
            <h4 class="text-center">Details</h4>
            <a href="{% url 'add' %}" class="btn btn-outline-primary">Add New <i class="fa-solid fa-plus"></i></a>
        </div>
        <div class="card-body">
            <div class="mt-2">
                <form method="get">
                    <!-- filter the fields -->
                    <label class="form-label ms-3">Status : </label>
                    {{filter.form.status}}
                    <label class="form-label">Currency : </label>
                    {{filter.form.currency}}
                    <!-- show filter by user for admin -->
                    {% if user.is_superuser %}
                    <label class="form-label">User : </label>
                    {{filter.form.user}}
                    {% endif %}
                    <button class="btn btn-primary btn-sm ms-3" type="submit">Filter <i class="fa-solid fa-filter"></i></button>
                    <!-- export to excel -->
                    <a class="btn btn-primary btn-sm ms-3" href="{% url 'export' %}">Export as Excel <i class="fa-solid fa-file-export"></i></a>
                </form>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered mt-4">
                    <thead>
                        <tr>
                            <th>Client Name</th>
                            <th>Entry Date</th>
                            <th>Modified At</th>
                            <th>Contact Number</th>
                            <th>Vendor Name</th>
                            <th>Vendor Company</th>
                            <th>Rate</th>
                            <th>Currency</th>
                            <th>Contract Type</th>
                            <th>Status</th>
                            <th>Comments</th>
                            {% if user.is_superuser %}
                            <th>User</th>
                            {% endif %}
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in details %}
                        <tr>
                            <td>{{i.client_name}}</td>
                            <!-- show date by defined format (refered in django docs) -->
                            <td>{{i.date | date:"j/n/Y, h:i a"}}</td>
                            <td>{{i.modified_at|date:"j/n/Y, h:i a"}}</td>
                            <td>{{i.contact_number}}</td>
                            <td>{{i.vendor_name}}</td>
                            <td>{{i.vendor_company}}</td>
                            <td>{{i.rate}}</td>
                            <td>{{i.currency}}</td>
                            <td>{{i.contract_type}}</td>
                            <td>{{i.status}}</td>
                            <td>{{i.comments}}</td>
                            {% if user.is_superuser %}
                            <td>{{i.user}}</td>
                            {% endif %}
                            <td class="text-center"><a href="{% url 'edit' i.id %}"><i
                                        class="fa-solid fa-pencil"></i></a></td>
                            <td class="text-center"><a onclick="confirmDelete()" id="delete"
                                    href="{% url 'delete' i.id %}"><i class="fa-solid fa-trash"></i></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    function confirmDelete() {

        const confirmation = confirm('Are you sure you want to delete?');

        if (confirmation) {
            window.location.href = "{% url 'details' %}";
        }

        else {
            event.preventDefault();
        }
    }
</script>
<style>
    .btn-sm {
        font-size: 16px;
        padding: 0.20rem 0.5rem;
    }
</style>
{% endblock %}