{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="card mt-5">
        <div class="card-header text-bg-dark">
            <h2 class="text-center">Details</h2>
        </div>
        <div class="card-body">
            <table class="table table-bordered mt-5">
                <thead class="">
                    <tr>
                        <th>Client Name</th>
                        <th>Entry Date</th>
                        <th>Modified At</th>
                        <th>Contact Number</th>
                        <th>Vendor Name</th>
                        <th>Vendor Company</th>
                        <th>Rate</th>
                        <th>Currency</th>
                        <th>Contract Type</th>
                        <th>Status</th>
                        <th>Comments</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in details %}
                    <tr>
                        <td>{{i.client_name}}</td>
                        <td>{{i.date}}</td>
                        <td>{{i.modified_at}}</td>
                        <td>{{i.contact_number}}</td>
                        <td>{{i.vendor_name}}</td>
                        <td>{{i.vendor_company}}</td>
                        <td>{{i.rate}}</td>
                        <td>{{i.currency}}</td>
                        <td>{{i.contract_type}}</td>
                        <td>{{i.status}}</td>
                        <td>{{i.comments}}</td>
                        <td><a href="{% url 'edit' i.id %}"><i class="bi bi-pencil-fill"></i></a></td>
                        <td><a href="{% url 'delete' i.id %}"><i class="bi bi-trash-fill"></i></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}