{% extends 'base.html' %}

{% block content %}
<form method="POST" autocomplete="off">
  {% csrf_token %}
  <div class="row">
    <div class="col-5 mx-auto mt-3">
      <div class="card">
        <div class="card-header">
          <h1 class="text-center">Edit Details</h1>
        </div>
        <div class="card-body">
          <div class="col-6 mx-auto form-floating">
            <input type="text" class="form-control" id="date" name='date' value="{{date_str}}">
            <label for="date">Enter Date: </label>
          </div>
          <div class="col-6 mx-auto mt-3 form-floating">
            <input type="number" class="form-control" id="phone_number"
              name='phone_number' value="{{edit_detail.phone_number}}">
            <label for="phone_number">Enter Phone Number: </label>
          </div>
          <div class="col-6 mx-auto mt-3 form-floating">
            <input type="text" class="form-control" id="client_name" name='client_name'
              value="{{edit_detail.client_name}}">
            <label for="client_name">Enter Client Name: </label>
          </div>
          <div class="col-6 mx-auto mt-3 form-floating">
            <input type="text" class="form-control" id="vendor_name" name='vendor_name'
              value="{{edit_detail.vendor_name}}">
            <label for="vendor_name">Enter Vendor Name: </label>
          </div>
          <div class="col-6 mx-auto mt-3 form-floating">
            <input type="text" class="form-control" id="vendor_company"
              name='vendor_company' value="{{edit_detail.vendor_company}}">
            <label for="vendor_company">Enter Vendor Company: </label>
          </div>
          <div class="col-6 mx-auto mt-3">
          <div class="input-group">
            <div class="form-floating">
              <input type="number" class="form-control" id="rate" name='rate'
                value="{{edit_detail.rate}}">
              <label for="rate">Enter Rate: </label>
            </div>
            <span class="input-group-text">$</span>
          </div>
        </div>
          <div class="col-6 mx-auto mt-3 form-floating">
            <input type="text" class="form-control" id="contract_type"
              name='contract_type' value="{{edit_detail.contract_type}}">
            <label for="contract_type">Enter Contract Type: </label>
          </div>
          <div class="col-6 mx-auto mt-3 form-floating">
            <input type="text" class="form-control" id="status" name='status'
              value="{{edit_detail.status}}">
            <label for="status">Enter Status: </label>
          </div>
        </div>
        <div class="card-footer">
          <div class="text-center mx-auto">
            <input class="btn btn-primary" type="submit" value="Save Changes">
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}