{% extends 'base.html' %}
{% block content %}
    <form method="POST" autocomplete="off">
        {% csrf_token %}
        <div class="row">
            <div class="col-5 mx-auto mt-3">
                <div class="card">
                    <div class="card-header">
                        <h1 class="text-center">Add Details</h1>
                    </div>
                    <div class="card-body">
                        <div class="col-6 mx-auto form-floating">
                                {{ form.date }}
                              <label for="rate">Date: </label>
                        </div>
                        <div class="col-6 mx-auto mt-3 form-floating">
                                {{ form.phone_number }}
                              <label for="rate">Phone Number: </label>
                        </div>
                        <div class="col-6 mx-auto mt-3 form-floating">
                                {{ form.client_name }}
                              <label for="rate">Client Name: </label>
                        </div>
                        <div class="col-6 mx-auto mt-3 form-floating">
                                {{ form.vendor_name }}
                              <label for="rate">Vendor Name: </label>
                        </div>
                        <div class="col-6 mx-auto mt-3 form-floating">
                                {{ form.vendor_company }}
                              <label for="rate">Vendor Company: </label>
                        </div>
                        <div class="col-6 mx-auto mt-3">
                            <div class="input-group form-floating">
                                    {{ form.rate }}
                                  <label for="rate">Enter Rate: </label>
                                <span class="input-group-text">$</span>
                              </div>
                        </div>
                        <div class="col-6 mx-auto mt-3 form-floating">
                                {{ form.contract_type }}
                              <label for="rate">Contract Type: </label>
                        </div>
                        <div class="col-6 mx-auto mt-3 form-floating">
                                {{ form.status }}
                              <label for="rate">Status: </label>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="text-center mx-auto">
                            <input class="btn btn-primary" type="submit" value="Submit">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
